.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.text-center {
    text-align: center!important;
}
textarea{
    width :50vw;
}

.form-floating{
 margin-top: 40px;
}

.row {
    padding-top: 48px;
}

.hello{
    display: block;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.bg-light {
    background-color: #f8f9fa!important;
}

